notifications:
  email: false
language: python
python:
- '2.7'
- '3.6'
cache: pip
install:
- pip install .
- pip install coverage codecov
script:
- tests/tests.sh
- nosetests -c .noserc
after_success:
- codecov
deploy:
  provider: pypi
  user: nolze
  password:
    secure: xo+tYIDzOutpcE0kYTBTWrWDIpAQ/achm3qPlRouDy+NycP6MXmQTwqtKulUywZ7HJdIFoyHhDWZWDmIGzwPUNyWnP73VMLrHk0Z9ROCpAIVcsHQNt25W7Y0jAtvMcGkIXEOELK6/p8pdiV+lcjzo//kGG0JMkZj7FkToWxKBNhm0Xm9PUeJkBmmsp8j5ddY0Nl9388OgEhCcI9LsyzRN68PZTm7i+PhMZSy5lOLr9g08EB76L6IJgbQJaGklS4FBoW5feCLosr57ZTgxaTX1RLH1kt//Yjcc/cS0tw8+n0o/9PXTP9yINaucmWBZEdA29ifXamk+qX4N+p1hR94vzb8E84Gv9Kk30f7nwR7KwKuF8bbkpX/wYIqsBbve7AFJxYdVRMPS0Gfw4Uy0i6+rF4/KRwE6EvGOBnhl5xaUndsd5nzPEqchhSon/w04LChagzx5svWKQ10ArpzC0JMZ8VtYIYuvoxCA17kC3reYWVR6yvcou44dpplbKC7Z1/Xn+peXY5a2THylE7RFPKRQAKQLVtoZZiU23PgVSQ/y29FWKH2JB21GfXyngOzo1Ot/jEhQzv1x+9wXs78Pu/NO0nYtFj10K37Mc6rwoG30XIPeRCaok3DbLp81ILqYIKTdXmWMuXQ4IunBtwk6Ab5jdz0SRCLt9Y5B8CfRr7kg1U=
  on:
    tags: true
    branch: master
  allow_failure: false
