[tool.poetry]
name = "msoffcrypto-tool"
version = "5.0.0"
description = "Python tool and library for decrypting MS Office files with passwords or other keys"
license = "MIT"
homepage = "https://github.com/nolze/msoffcrypto-tool"
authors = ["nolze <nolze@archlinux.us>"]
readme = "README.md"
packages = [{ include = "msoffcrypto" }]

[tool.poetry.dependencies]
python = "^3.7"
cryptography = ">=35.0"
olefile = ">=0.46"

[tool.poetry.dev-dependencies]
pytest = { version = ">=6.2.1", python = "^3.7" }
black = { version = "^20.8b1", python = "^3.7" }
coverage = { extras = ["toml"], version = "^5.3.1" }

[tool.poetry.scripts]
msoffcrypto-tool = 'msoffcrypto.__main__:main'

[tool.black]
line-length = 140
exclude = '/(\.git|\.pytest_cache|\.venv|\.vscode|dist|docs)/'

[tool.pytest.ini_options]
addopts = "-ra -q --doctest-modules"
testpaths = ["msoffcrypto", "tests"]

[tool.coverage.run]
omit = [".venv/*", "tests/*"]

[build-system]
requires = ["poetry_core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
